# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Editor & IDE directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary and log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel deployment folder
.vercel/
